.menu-toggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    font-size: 28px;
}

.menu-toggle:focus {
    outline: none;
    box-shadow: none;
}

/* FULL SCREEN OVERLAY */
.mobile-menu-overlay {
    position: fixed;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: white;
    z-index: 9;
    overflow-y: auto;
    box-sizing: border-box;
}

/* CONTENT */
.mobile-menu-content {
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
}

/* LINKS */
.mobile-link {
    font-size: 18px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    min-width: 0;
}

.mobile-link i {
    flex-shrink: 0;
}

/* SUMMENU */
.submenu {
    padding: 10px 0 10px 16px;
}   

.submenu p {
    margin: 10px 0;
    font-size: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.submenu p:hover {
  background-color: #f4f6f8;   /* soft grey */
}


